.font-fira-sans{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
/* Shared Styles */
.bg-secondary{
    background-color: #F1F1F3;
}
.dark-1{
    color: #0E0E0E;
}
.dark-2{
    color: rgba(14, 14, 14, 0.8);
}
.dark-3{
    color: rgba(14, 14, 14, 0.7);
}
.dark-4{
    color: rgba(14, 14, 14, 0.6);
}
.dark-5{
    color: rgba(14, 14, 14, 0.5);
}
.dark-6{
    color: rgba(14, 14, 14, 0.3);
}
.btn-primary{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
}
.feature-title{
    font-size: 20px;
    font-weight: bold;
}
/* Header Section Styles Starts */
/* Navbar Section Styles Starts */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
}
/* Navbar Section Styles Ends */
/* Banner Section Styles Starts */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 40px;
}
.banner-content{
    max-width: 620px;
}
.banner-sub-title{
    font-size: 24px;
    font-weight: 600;
}
.banner-title{
    font-size: 54px;
    font-weight: bold;
}
.banner-profile-picture{
    width: 470px;
}
/* Banner Section Styles Ends */
/* Header Section Styles Ends */
/* Main Section Styles Starts */
main{
    margin: 0 160px;
}
main section{
    margin-top: 80px;
    margin-bottom: 80px;
}
/* Features Section Styles Starts */
.features-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.feature{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}
/* Features Section Styles Ends */
/* Main Section Styles Ends */