.font-fira-sans{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
/* Shared Styles */
.bg-secondary{
    background-color: #F1F1F3;
}
.dark-1{
    color: #0E0E0E;
}
.dark-2{
    color: rgba(14, 14, 14, 0.8);
}
.dark-3{
    color: rgba(14, 14, 14, 0.7);
}
.dark-4{
    color: rgba(14, 14, 14, 0.6);
}
.dark-5{
    color: rgba(14, 14, 14, 0.5);
}
.dark-6{
    color: rgba(14, 14, 14, 0.3);
}
.btn-primary{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
}
.feature-title{
    font-size: 20px;
    font-weight: bold;
}
.text-center{
    text-align: center;
}
/* Header Section Styles Starts */
/* Navbar Section Styles Starts */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
}
/* Navbar Section Styles Ends */
/* Banner Section Styles Starts */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 40px;
}
.banner-content{
    max-width: 620px;
}
.banner-sub-title{
    font-size: 24px;
    font-weight: 600;
}
.banner-title{
    font-size: 54px;
    font-weight: bold;
}
.banner-profile-picture{
    width: 470px;
}
/* Banner Section Styles Ends */
/* Header Section Styles Ends */
/* Main Section Styles Starts */
main{
    margin: 0 160px;
}
main section{
    margin-top: 80px;
    margin-bottom: 80px;
}
/* Features Section Styles Starts */
.features-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.feature{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}
/* Features Section Styles Ends */
/* Vision Section Styles Starts */
.vision-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.vision-1{
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
    padding: 32px;
}
.vision-btn-1{
    background-color: #5490F5;
    color: white;
    font-weight: 600;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.vision-2{
    background-color: #C6E4D6;
    border: none;
    border-radius: 16px;
    padding: 32px;
}
.vision-btn-2{
    background-color: #09A15C;
    color: white;
    font-weight: 600;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.vision-3{
    background-color: #F7EBCF;
    border: none;
    border-radius: 16px;
    padding: 32px;
}
.vision-btn-3{
    background-color: #FFC239;
    color: white;
    font-weight: 600;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.vision-description{
    margin-bottom: 32px;
}
.quote{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
    padding: 30px 25px;
    margin-top: 32px;
}
.quote-img {
    width: 64px;
    height: 64px;
    opacity: 0.7;
}
.quote-content{
    margin-top: -50px;
}
.quote-speaker{
    font-size: 20px;
    font-weight: 600;
}
/* Vision Section Styles Ends */
/* News Section Styles Starts */
.news-card-container{
    margin-top: 32px;
}
.news-card{
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 24px;
    padding: 48px;
    gap: 40px;
    margin-bottom: 24px;
}
.news-image{
    width: 410px;
}
.news-image img{
    border-radius: 24px;
}
.news-content{
    margin-top: -40px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
}
.news-dates{
    display: flex;
    align-items: center;
    gap: 12px;
}
/* News Section Styles Ends */
/* Donate Section Styles Starts */
.donate{
    max-width: 1300px;
    margin: 0 auto;
}
.amount-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    margin-top: 32px;
}
.amount{
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    transition: background-color 0.3s ease;
}
.amount:hover{
    background-color: #C6E4D6;
}
#default-amount{
    background-color: #C6E4D6;
}
#donate-text-box{
    width: 1130px;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}
main input[type="text"]{
    text-align: center;
    font-size: 16px;
}
#donate-btn{
    margin-top: 32px;
}
/* Donate Section Styles Ends */
/* Newsletter Section Styles Starts */
.newsletter{
    background-color: #C6E4D6;
    border: none;
    border-radius: 24px;
    padding: 80px 100px;
    text-align: center;
}
.newsletter input[type="email"]{
    width: 600px;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}
.newsletter p{
    margin-top: 20px;
}
/* Newsletter Section Styles Ends */
/* Main Section Styles Ends */